{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-around">
        {% for post in posts %}
        <div class="card text-center col-3">
            <div class="card-header">
            <span class="badge alert-secondary">
                Author: {{ app.user ? 'Moi' : post.user.username }}
                </span>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <p class="card-text">{{ post.category.title }}</p>
                <p class="card-text">
                {% if app.user %}
                    {% if post.isVisible %}
                    <span class="badge alert-success">
                        Status: Visible
                    </span>
                    {% else %}
                    <span class="badge alert-secondary">
                        Status: Invisible
                    </span>
                    {% endif %}
                
                </p>
                <a href="{{ path('post_update', {'id': post.id }) }}" class="btn alert-primary">Edit</a>
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                create at: {{ post.createdAt }}
            </div>
        </div>
        {% endfor %}
    </div>

    {% if app.user %}
    <hr>
    <h2>All posts</h2>
    <div class="d-flex justify-content-around">
    {% for postAll in postsAll %}
    <div class="card text-center col-3">
            <div class="card-header">
            <span class="badge alert-secondary">
                Author: {{ postAll.user.username }}
                </span>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ postAll.title }}</h5>
                <p class="card-text">{{ postAll.content }}</p>
                <p class="card-text">{{ postAll.category.title }}</p>
            </div>
            <div class="card-footer text-muted">
                create at: {{ postAll.createdAt }}
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}