{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
    <h2>Ajouter une categorie</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col" class="d-flex justify-content-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <th scope="row">{{ category.id }}</th>
                <td>{{ category.title }}</td>
                <td>
                    <div class="d-flex gap-2 justify-content-end">
                        <a href="{{path('category_update', {'id': category.id })}}" class="btn btn-warning">Edit</a>
                        <form action="{{path('category_delete', {'id': category.id })}}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('category') }}" class="btn btn-primary">Ajouter une catégorie</a>

    <h2>Ajouter un post</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Category</th>
                <th scope="col">Date</th>
                <th scope="col" class="d-flex justify-content-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <th scope="row">{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.category.title }}</td>
                <td>{{ post.createdAt }}</td>
                <td>
                    <div class="d-flex gap-2 justify-content-end">
                        <a href="#" class="btn btn-warning">Edit</a>
                        <form action="#" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('post') }}" class="btn btn-primary">Ajouter un post</a>
</div>
{% endblock %}
