{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(formUpdatePost) }}
    <div class="container">
        <div class="mb-3">
            {{form_row(formUpdatePost.title)}}
        </div>
        <div class="mb-3">
            {{form_row(formUpdatePost.content)}}
        </div>
        <div class="mb-3">
            {{form_row(formUpdatePost.category)}}
        </div>
        <div class="mb-3">
            {{form_row(formUpdatePost.isVisible)}}
        </div>
        <div class="d-flex gap-3">
            <button type="submit" class="btn btn-primary">Modifier</button>
{{ form_end(formUpdatePost) }}
            <form action="{{path('post_delete', {'id': post.id }) }}" method="post">
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        </div>
    </div>
{% endblock %}
