{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<div class="container">
{{form_start(formPost)}}
    <div class="mb-3">
        {{form_row(formPost.title)}}
    </div>
     <div class="mb-3">
        {{form_row(formPost.content)}}
    </div>
    <div class="mb-3">
        {{form_row(formPost.category)}}
    </div>
    <div class="mb-3">
        {{form_row(formPost.isVisible)}}
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>

{{form_end(formPost)}}

</div>
{% endblock %}
